<div class="col-xs-12" #dashpanel>
  <div class="col-xs-1"></div>
  <div class="col-xs-4">
    <div class="panel panel-warning">
     <!-- <div class="panel-heading">Windspeed <button  type="button" class="btn btn-warning"  aria-label="Left align" (click)="dashpanel.remove();onCilck()"><span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button></div>-->
      <div class="panel-heading">Windspeed <button  type="button" class="btn btn-warning"  aria-label="Left align" (click)="onCilck()"><span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button></div>
      <div class="panel-body">{{windspeed}}</div>
    </div>
  </div>
 <!-- <div class="col-xs-1"></div>
  <div class="col-xs-5">
    <div class="panel panel-success">
      <div class="panel-heading">WEATHER</div>
      <div class="panel-body">value:26</div>
    </div>
  </div>-->
</div>

