<div class="col-xs-1"></div>
<div class=" col-xs-4" #view>
  <div class="panel panel-primary">
    <div class="panel-heading">Book Details
      <!--<button type="button" class="btn btn-primary" aria-label="Left align" (click)="view.remove();onCilck()"><span-->
      <button type="button" class="btn btn-primary" aria-label="Left align" (click)="onCilck()"><span
        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </div>
    <div class="panel panel-body">
      <p>BOOK DETAILS</p>
      <div class="bg-info " *ngFor="let bkview of bookview | filter:data:'title'">
      <span class="pull-right">
        <img [src]="bkview.image" alt="" class="img-responsive img-square "
             style="max-height: 300px" :width="400px">
      <div class="">
        <br>
        <br>
        Title:<b>{{bkview.title}}</b>
        <br>
        <br> Author:<b>{{bkview.author}}</b>
        <br>
        <br>Price:<b>{{bkview.price}}</b>
        <br>
      </div>
        </span>
      </div>
    </div>
  </div>
</div>
