<app-app-header></app-app-header>
<!--<router-outlet></router-outlet>-->

<!--
<app-book-view *ngIf="loadedFeature==='bookview'"></app-book-view>
<app-book-upload *ngIf="loadedFeature==='bookupload'">Loading</app-book-upload>
<app-temperature *ngIf="loadedFeature==='temperature'">Temperature..</app-temperature>
<app-dashpanel *ngIf="loadedFeature==='windspeed'">dashpanel...</app-dashpanel>
-->

<app-book-view *ngIf="bookview"></app-book-view>
<app-book-upload *ngIf="bookupload"></app-book-upload>
<app-temperature *ngIf="temperature"></app-temperature>
<app-dashpanel *ngIf="windspeed"></app-dashpanel>

<!--
<app-book-view></app-book-view>
<app-book-upload></app-book-upload>
<app-temperature></app-temperature>
<app-dashpanel></app-dashpanel>
-->
