<div class="col-xs-1"></div>
<form (ngSubmit)="onAddBook(f)" #f="ngForm">
  <div class="col-xs-5" #upload>
    <div class="panel panel-success">
     <!-- <div class="panel-heading">Upload <button   type="button" class="btn btn-sucess"  aria-label="Left align" (click)="upload.remove();onCilck()"><span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button></div>-->
      <div class="panel-heading">Upload <button   type="button" class="btn btn-sucess"  aria-label="Left align" (click)="onCilck()"><span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button></div>
    <div class="panel-body">
      <p>ADD NEW BOOK</p>
      <hr>
      TITLE:<input type="text" class="form-control" id="title" name="title" ngModel required>
      <br>
      Author:<input type="text" class="form-control" id="author " name="author" ngModel required>
      <br>
      Price:<input type="text" class="form-control" name="price" id="price" ngModel required>
      <br>
      ImagePath:<input type="text" class="form-control" name="imagepath" id="imagepath" ngModel required>
      <br>
      <button
        class="btn btn-success"
        type="submit">
        Upload
      </button>
    </div>
  </div>
  </div>
</form>
