<div class="col-xs-2"></div>
<div class="col-xs-4" #f>
  <div class="panel panel-primary">
    <!--<div class="panel-heading">TEMPERATURE <button   type="button" class="btn btn-primary"  aria-label="Left align" (click)="f.remove();onCilck()"><span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button></div>-->
    <div class="panel-heading">TEMPERATURE <button   type="button" class="btn btn-primary"  aria-label="Left align" (click)="onCilck()"><span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button></div>
    <div class="panel-body"  #s>{{speed}}</div>
    <span *ngFor="let d of data">{{d}} </span>
  </div>
</div>

